{
    "truck_image_base_url": "https://downloads.simiansuite.com/demo-static-content/route-planner/images/",
    "open_route_service_api_key": "YOUR_OPENROUTESERVICE_DOT_ORG_API_KEY",
	"here_api_key": "YOUR_HERE_DOT_COM_API_KEY",
    "here_frontend_autocomplete_delay": 0.3,
    "here_backend_lookup_interval": 0
}